#bloated
**/archive/*

#too large
**cards.csv  
**cards.xlsx

#filesize would distort the repo
**/*.html
**/*.asc

#not needed
**/*.bkp
**/~$*
**/temp/**
**/.venv/**
**/__pycache__/
**/qplib_update0.8.2/**
.vscode/
*.xlsx
*.csv